<ion-view ng-init="$ctrl.view()">
  <ion-header-bar class="bar-stable">
    <button class="left button button-icon icon ion-arrow-left-c"
            ng-click="$ctrl.back()">
    </button>
    <h1 class="title">Password</h1>
    <button class="right button button-clear"
            ui-sref="addpassword({categoryId: $ctrl.categoryId, masterPassword: $ctrl.masterPassword, passwordId: $ctrl.passwordId})">
      Edit
    </button>
  </ion-header-bar>
  <!-- <ion-nav-buttons side="left">
    <button class="left button button-icon icon ion-arrow-left-c" ng-click="back()">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="right button button-icon icon ion-edit" ui-router="addpassword({categoryId: categoryId, masterPassword: masterPassword, passwordId: passwordId})">
    </button>
  </ion-nav-buttons> -->
  <ion-content>
    <div>
      <h2 class="text-center">{{ $ctrl.digitalFootprint.title }}</h2>
    </div>
    <div class="list">
      <ion-item>
        <label>
          Username:
        </label>
        <p>{{ $ctrl.digitalFootprint.username }}</p>
      </ion-item>
      <ion-item ng-if="$ctrl.digitalFootprint.password">
        <label>
          Password:
        </label>
        <p>{{ $ctrl.digitalFootprint.password }}</p>
      </ion-item>
      <ion-item class="item-text-wrap"
                ng-if="$ctrl.digitalFootprint.hint">
        <label>
          Hint:
        </label>
        <p>{{ $ctrl.digitalFootprint.hint }}</p>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
