<ion-view>
  <ion-header-bar class="bar-positive">
    <button class="left button button-icon icon ion-arrow-left-c"
            ng-click="$ctrl.back()">
    </button>
    <h1 class="title" translate>settingsMasterCodeTitle</h1>
  </ion-header-bar>

  <ion-content>
    <div ng-form="$ctrl.resetCodeForm">
      <div class="padding-left padding-top padding-right">
        <div class="list">
          <label class="item item-input">
            <input ng-model="$ctrl.masterCodeInput"
                   type="password"
                   placeholder="{{ 'masterCodeInput' | translate }}"
                   required/>
          </label>
          <label class="item item-input">
            <input ng-model="$ctrl.newMasterCodeInput"
                   type="password"
                   placeholder="{{ 'newMasterCodeInput' | translate }}"
                   required/>
          </label>
          <label class="item item-input">
            <input ng-model="$ctrl.newMasterCodeConfirmationInput"
                   type="password"
                   placeholder="{{ 'newMasterCodeConfirmationInput' | translate }}"
                   required/>
          </label>
        </div>
      </div>
      <div class="padding-left padding-right">
        <button class="button button-block button-balanced"
                ng-click="$ctrl.updateMasterCode()"
                ng-disabled="$ctrl.resetCodeForm.$invalid"
                translate>
          updateButton
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
