<ion-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Unlock iPasswordManager</h1>
  </ion-header-bar>
  <ion-content>
    <div class="padding-left padding-top padding-right padding-bottom">
      <label>
        Please enter your master password to access the app.
      </label>
    </div>
    <div class="padding-left padding-right">
      <!-- <div class="button-bar">
        <a class="button" ng-click="unlock(masterpassword)">Unlock</a>
        <a class="button" ng-click="reset()">Reset</a>
      </div> -->
      <div class="list">
        <label class="item item-input">
          <input ng-model="$ctrl.masterPassword"
                 type="password"
                 placeholder="Master Password" />
        </label>
      </div>
      <button class="button button-block button-calm"
              ng-click="$ctrl.unlock($ctrl.masterPassword)" >
        Unlock
      </button>
    </div>
  </ion-content>
</ion-view>
