<div class="container-fluid" ui-view="content">
  <h1>
    iSecretVault Web app - Nicolas Guignard
  </h1>

  <nav>
    <ol class="breadcrumb">
      <li>
        <a href="https://au.linkedin.com/in/nicolas-guignard-12559b76">
          <span>Nicolas' Linkedin</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/nicolasguignard">
          <span>Nicolas' Twitter</span>
        </a>
      </li>
      <li>
        <a routerLink="/signup">
          Sign up
        </a>
      </li>
      <li>
        <a routerLink="/login">
          Login
        </a>
      </li>
    </ol>
  </nav>

  <router-outlet>
  </router-outlet>

</div>
