<ion-view>
  <ion-header-bar class="bar-stable bar-positive">
    <h1 class="title" translate>vaultCreateTitle</h1>
  </ion-header-bar>
  <ion-content>
    <div class="padding-left padding-top padding-right padding-bottom"
         translate>recommendation</div>
    <div class="padding-left padding-right"
         ng-form="$ctrl.createMasterCodeForm">
      <label class="item item-input">
        <input ng-model="$ctrl.masterCode"
               type="password"
               placeholder="{{ 'masterCode' | translate }}"
               required/>
      </label>
      <button class="button button-block button-balanced"
              ng-click="$ctrl.create($ctrl.masterCode)"
              ng-disabled="$ctrl.createMasterCodeForm.$invalid"
              translate>
        createButton
      </button>
    </div>
  </ion-content>
</ion-view>
