<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-horizontal padding-top">
        <div class="form-group">
          <label class="col-sm-2 col-lg-2 control-label">
            Please enter your Master Code
          </label>
          <input class="col-sm-6 col-lg-6"
                 type="password"
                 [(ngModel)]="user.masterCode"/>
        </div>

        <div class="form-group">
          <label class="col-sm-2 col-lg-2 control-label">
            Password
          </label>
          <input class="col-sm-6 col-lg-6"
                 type="password"
                 [(ngModel)]="user.newPassword" />
        </div>

        <div class="form-group">
          <label class="col-sm-2 col-lg-2 control-label">
            Password confirmation
          </label>
          <input class="col-sm-6 col-lg-6"
                 type="password"
                 [(ngModel)]="user.newPasswordConfirmation"/>
        </div>

        <button (click)="save()">Save new password</button>
      </div>
    </div>
  </div>
</div>
