<ion-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Categories</h1>
    <button class="right button button-clear" ng-click="$ctrl.add()">
      Add
    </button>
  </ion-header-bar>
  <ion-content overflow-scroll="true">
    <ion-list ng-repeat="category in $ctrl.categories track by category.id"
              can-swipe="true">

      <div class="item item-divider"
           ng-if="$index === 0 || $ctrl.firstLetter(category.category) != $ctrl.firstLetter($ctrl.categories[$index-1].category)">
        {{ $ctrl.firstLetter(category.category) }}
      </div>

      <ion-item ui-sref="passwords({categoryId: category.id, masterPassword: $ctrl.masterPassword})">
        {{ category.category }}

        <ion-option-button class="button-assertive"
                         ng-click="$ctrl.deleteCategory(category)">
          Delete
        </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
