<ion-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Categories</h1>
    <button class="right button button-clear" ng-click="$ctrl.add()">
      Add
    </button>
  </ion-header-bar>
  <ion-content overflow-scroll="true">
    <ion-list>
      <ion-item auto-list-divider
                auto-list-divider-value="{{ item.category }}"
                ng-repeat="item in $ctrl.categories track by item.id"
                ui-sref="passwords({categoryId: item.id, masterPassword: $ctrl.masterPassword})">
        {{ item.category }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
