<ion-view title="Password" ng-init="view()">
  <ion-nav-buttons side="left">
    <button class="left button button-icon icon ion-arrow-left-c" ng-click="back()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div>
      <h2 class="text-center">{{ password.title }}</h2>
    </div>
    <div class="list">
      <ion-item>
        <label>
          Username:
        </label>
        <p>{{ password.username }}</p>
      </ion-item>
      <ion-item ng-if="password.password">
        <label>
          Password:
        </label>
        <p>{{ password.password }}</p>
      </ion-item>
      <ion-item class="item-text-wrap"
                ng-if="password.comment">
        <label>
          Comment:
        </label>
        <p>{{ password.comment }}</p>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
