<ion-view>
  <ion-header-bar class="bar-stable">
    <button class="left button button-icon icon ion-arrow-left-c" ng-click="back()">
    </button>
    <h1 class="title">Password</h1>
  </ion-header-bar>
  <!-- <ion-nav-buttons side="left">
    <button class="left button button-icon icon ion-arrow-left-c" ng-click="back()"></button>
  </ion-nav-buttons> -->
  <ion-content>
    <div>
      <div class="list">
        <label class="item item-input">
          <input ng-model="digitalFootprint.title" type="text" placeholder="Title" />
        </label>
        <label class="item item-input">
          <input ng-model="digitalFootprint.username" type="text" placeholder="Username" />
        </label>
        <label class="item item-input">
          <input ng-model="digitalFootprint.password" type="password" placeholder="Password" />
        </label>
        <label class="item item-input">
          <textarea ng-model="digitalFootprint.hint" type="comment" placeholder="hint"></textarea>
        </label>
      </div>
      <div class="padding-left padding-right">
        <button class="button button-block button-positive"
                ng-click="save(digitalFootprint.title, digitalFootprint.username, digitalFootprint.password, digitalFootprint.hint)" >
          Save
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
