<ion-view>
  <ion-header-bar class="bar-positive">
    <button class="left button button-icon icon ion-arrow-left-c"
            ng-click="$ctrl.back()">
    </button>
    <h1 class="title">Reinitialise login password</h1>
  </ion-header-bar>

  <ion-content>
    <div ng-form="$ctrl.resetPasswordForm">
      <div class="padding-left padding-top padding-right">
        <div class="list">
          <!-- <label class="item item-input">
            <input ng-model="$ctrl.oldPasswordInput"
                   type="password"
                   placeholder="Existing login password"
                   required/>
          </label> -->
          <label class="item item-input">
            <input ng-model="$ctrl.masterCodeInput"
                   type="password"
                   placeholder="Enter your master code"
                   required/>
          </label>
          <label class="item item-input">
            <input ng-model="$ctrl.newPasswordInput"
                   type="password"
                   placeholder="New password"
                   required/>
          </label>
          <label class="item item-input">
            <input ng-model="$ctrl.newPasswordConfirmationInput"
                   type="password"
                   placeholder="New password confirmation"
                   required/>
          </label>
        </div>
      </div>
      <div class="padding-left padding-right">
        <button class="button button-block button-balanced"
                ng-click="$ctrl.updatePassword()"
                ng-disabled="$ctrl.resetPasswordForm.$invalid">
          Update
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
